
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

/* Status label styles */
.status_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.status_uncontacted {
    -fx-text-fill: #808080;
}

.status_contacted {
    -fx-text-fill: #00AA00;
}

.status_rejected {
    -fx-text-fill: #D70040;
}

.status_accepted {
    -fx-text-fill: #00AAAA;
}

.status_busy {
    -fx-text-fill: #FFAA00;
}

.status_unreachable {
    -fx-text-fill: #000000;
}
